<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Elenco Ricevute</title>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="/css/style.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
<style>
body {
	font-family: 'Arial', sans-serif;
}

.title {
	margin-top: 20px;
	margin-bottom: 20px;
}

.h2 {
	font-size: 2.5rem;
	font-weight: bold;
	text-shadow: 1px 1px 1px  #800000;
}

.container {
	max-width: 100% !important; /* Rimuove il limite */
	width: 100%; /* Assicura che la larghezza si estenda */
}

th, td {
	padding: 0.5rem; /* Uniforma il padding */
	border: 1px solid #ddd; /* Uniforma il bordo */
	text-align: center;
}
</style>
</head>
<body>
	<div class="flex">
		<div th:replace="${vengo == 'admin'} ? ~{indexAdmin :: nav} : ~{index :: nav}"></div>
		<main class="w-full content">
			<div th:replace="${vengo == 'admin'} ? ~{indexAdmin :: h1} : ~{index :: h1}"></div>

			<div class="container mx-auto w-full">
				<div class="text-center">
					<h2 class="h2">
						ELENCO RICEVUTE <span th:if="${vengos}=='storico'">STORICO</span>
					</h2>
					<br> <a class="bg-green-500 text-white px-4 py-2 rounded"
						th:href="@{/ricevutaStorico/aggiornaStorico}" th:if="${vengo}=='admin'"> Aggiorna
						Storico</a> <br>
				</div>

				<div class="overflow-x-auto w-full">
					<div style="font-size: 2rem; color: green" th:if="${mex != null}"
						th:text="${mex}"></div>
					<div style="font-size: 2rem; color: red"
						th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
					<br> <br>

					<table class="w-full bg-white border border-gray-200">
						<thead>
							<tr style="font-size: 1.5rem">
								<th class="py-1 px-1 border-b w-48"  th:if="${vengos != 'storico' && vengo == 'admin'}">Aggiorna</th>
								<th class="py-1 px-1 border-b w-48"  th:if="${vengos != 'storico' && vengo == 'admin'}">Elimina</th>
								<th class="py-2 px-4 border-b">Data</th>
								<th class="py-2 px-4 border-b">Cliente</th>
								<th class="py-2 px-4 border-b">Servizi</th>
								<th class="py-2 px-4 border-b">Operatore</th>
								<th class="py-2 px-4 border-b">Totale</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ricevuta : ${listaRicevute}"
								th:classappend="${ricevuta.totale == 0} ? 'bg-red-100' : ''"
								style="font-size: 1.3rem">
								<td class="py-2 px-4 border-b" th:if="${vengos != 'storico' && vengo == 'admin'}"><a
									class="bg-blue-500 text-white px-2 py-1 rounded mr-2"
									th:href="@{/ricevuta/aggiornaRicevutaForm(id=${ricevuta.id})}">
										<i class="fas fa-edit"></i> Aggiorna
								</a></td>
								<td class="py-2 px-4 border-b" th:if="${vengos != 'storico' && vengo == 'admin'}"><a
									class="bg-red-500 text-white px-2 py-1 rounded"
									th:href="@{/ricevuta/eliminaRicevuta(id=${ricevuta.id})}"
									onclick="if(!(confirm('Confermi di voler eliminare il documento?'))) return false">
										<i class="fas fa-trash"></i> Elimina
								</a></td>
								<td th:text="${#dates.format(ricevuta.data, 'EE dd/MM')}"
									class="py-2 px-4 border-b"></td>
								<td
									th:text="${ricevuta.cliente != null ? ricevuta.cliente.nome + ' ' + ricevuta.cliente.cognome + ' - ' + ricevuta.cliente.telefono : ''}"
									class="py-2 px-4 border-b"></td>
								<td
									th:text="${!ricevuta.servizi.isEmpty() ? 
    										#strings.arrayJoin(ricevuta.servizi.![nome], ', ') : ''}"
									class="py-2 px-4 border-b"></td>
								<td
									th:text="${ricevuta.operatore != null ? ricevuta.operatore.nome + ' ' + ricevuta.operatore.cognome : ''}"
									class="py-2 px-4 border-b"></td>
								<td th:text="${ricevuta.totale + '€'}"
									class="py-2 px-4 border-b"></td>
							</tr>
						</tbody>
					</table>
					<hr>
				</div>
			</div>
		</main>
	</div>
	<script src="/js/script.js"></script>
</body>
</html>